# general things to ignore
build/

dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~

# due to using tox and pytest
.tox
.cache

# debug is my debug-venv-dir
debug
debug/

# docs build is build test directory
docs/build
docs/build/

# my update file for debugging
update
update.*
.vscode/
src/.DS_Store
